<!-- Footer.html -->

<footer>
  <div class="main-content-container footer-content">
    <div class="padding-container">
      <button class="footer-left footer-button clear-button" id="contact">
        Contact IndieWest
      </button>
      <button class="footer-right footer-button clear-button" id="newsletter">
        Hear from IndieWest
      </button>
    </div>
  </div>
  <script src="javascripts/modalController.js"></script>
  <script src="javascripts/navbarController.js"></script>
</footer>
