<nav class="navbar">
  <div class="main-content-container">
    <div class="padding-container">
      <h2 class="site-title">
        <a href="/" class="no-link site-title-style">
          IndieWest
        </a>
      </h2>
      <div class="options-menu" id="options-menu">
        <span class="option-bar"></span>
        <span class="option-bar"></span>
        <span class="option-bar"></span>
      </div>
      <ul class="navbar-list-container">
        <li class="navbar-list-element">
          <a href="/" class="no-link navbar-list-element-style">
            Blog
          </a>
        </li>
        <li class="navbar-list-element">
          <a href="/snapshots" class="no-link navbar-list-element-style">
            Projects
          </a>
        </li>
        <li class="navbar-list-element">
          <a href="/us" class="no-link navbar-list-element-style">
            Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
