<div class="navbar-modal" id="navbar-modal">
  <div class="modal-background">
    <div class="navbar-modal-content">
      <button class="clear-button navbar-close-modal" id="navbar-close-modal">x</button>
      <h2 class="navbar-modal-site-title">
        <a href="/" class="navbar-modal-site-title-text">IndieWest</a>
      </h2>
      <h3 class="mobile-navbar-link-container">
        <a class="navbar-list-element-style">
          Blog
        </a>
      </h3>
      <h3  class="mobile-navbar-link-container">
        <a class="navbar-list-element-style">
          Projects
        </a>
      </h3>
      <h3 class="mobile-navbar-link-container">
        <a class="navbar-list-element-style">
          Us
        </a>
      </h3>
    </div>
  </div>
</div>
