<div id="newsletter-modal" class="modal-parent">
  <div class="modal-background">
    <div class="modal">
        <div class="modal-line modal-vertical-line"></div>
        <div class="modal-line modal-horizontal-line"></div>
        <button class="clear-button close-modal-button">X</button>
      <div class="modal-content">
        <h2 class="modal-title">
          Newsletter
        </h2>
        <h4 class="modal-prompt">
          Look forward to hearing form you!
        </h4>
        <input type="text" placeholder="Name" class="modal-input">
        <input type="text" placeholder="Email" class="modal-input">
        <button class="newsletter-close-button modal-button clear-button">Send</button>
      </div>
    </div>
  </div>
</div>
