<!-- BLOG COMPONENTS -->
<section class="blog-component">
  <section class="post-container">
    <img class="post-image" src="images/beauty-bloom-blue.jpg"/>
    <div class="post-content">
      <h3 class="post-title">Filters and Spacing for Mood</h3>
      <article class="post-preview">
        Choosing the correct filter is important. They help to subtlely set the tone for the story.
      </article>
    </div>
  </section>
  <section class="post-container">
    <img class="post-image-right" src="images/boat-dawn-dusk.jpg"/>
    <div class="post-content post-content-right">
      <h3 class="post-title">Filters and Spacing for Mood</h3>
      <article class="post-preview">
        Choosing the correct filter is important. They help to subtlely set the tone for the story.
      </article>
    </div>
  </section>
  <section class="post-container">
    <img class="post-image" src="images/boot-horse-horseback-riding.jpg"/>
    <div class="post-content">
      <h3 class="post-title">Filters and Spacing for Mood</h3>
      <article class="post-preview">
        Choosing the correct filter is important. They help to subtlely set the tone for the story.
      </article>
    </div>
  </section>
</section>
