<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="stylesheets/universal.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/banner.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/post.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/modal.css" />
  </head>
  <body>
    <%- include components/contact-modal.html %>
    <%- include components/newsletter-modal.html %>
    <%- include components/navbar-modal.html %>
    <%- include components/navbar.html %>
    <section class="main-content-container">
      <h1 class="page-title">
        IndieWest
      </h1>
      <img src="images/blogs-feature.jpg" class="banner-img"/>

      <%- include components/post-component.html %>

    </section>
    <%- include components/footer.html %>
  </body>
</html>
