<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet/less" href="stylesheets/universal.less" type="text/css" />
    <link rel="stylesheet/less" href="stylesheets/navbar.less" type="text/css"/>
    <link rel="stylesheet/less" href="stylesheets/footer.less" type="text/css" />
    <link rel="stylesheet/less" href="stylesheets/banner.less" type="text/css" />
    <link rel="stylesheet/less" href="stylesheets/post.less" type="text/css" />
    <link rel="stylesheet/less" href="stylesheets/modal.less" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
    <script src="javascripts/html5shiv-printshiv.js"></script>
  </head>
  <body>
    <%- include components/contact-modal.html %>
    <%- include components/newsletter-modal.html %>
    <%- include components/navbar-modal.html %>
    <%- include components/navbar.html %>
    <section class="main-content-container">
      <h1 class="page-title">
        IndieWest
      </h1>
      <img src="images/blogs-feature.jpg" class="banner-img"/>

      <%- include components/post-component.html %>

    </section>
    <%- include components/footer.html %>
  </body>
</html>
