<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="stylesheets/universal.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/banner.css" />
  </head>
  <body>
    <%- include components/navbar.html %>
    <%- include components/footer.html %>
  </body>
</html>
