.modal-background{
  background-color: #00000050;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.modal{
  width: 600px;
  background-color: #861b08;
  margin: auto;
  margin-top: 120px;
  position:relative;
}

.modal-parent{
  display:none;
}

.active-modal{
  display:block;
}

.modal-input{
  background: none;
  border: none;
  outline: none;
  background-color: #e0ce08;
  padding-left: 10px;
  font-size: 20px;
  font-family: montserrat;
  float: left;
  width: 290px;
  margin-bottom: 15px;
}

.modal-input::placeholder{
  color:#861b08;
}

.modal-textarea::placeholder{
  color:#861b08;
}

.modal-textarea{
  background: none;
  border: none;
  outline: none;
  background-color: #e0ce08;
  font-family: montserrat;
  width: 290px;
  margin-bottom: 15px;
  font-size: 20px;
  padding-left: 7px;
  color:#861b08;
}

.modal-prompt{
  font-family: montserrat;
  color: #e0ce08;
  margin-bottom: 30px;
  margin-top:30px;
}

.modal-title{
  color: #e0ce08;
  font-family: Tumbleweed;
  font-size: 100px;
  top: 15px;
  position: relative;
}

.modal-content{
  padding-left: 30px;
  width:350px;
}

.modal-button{
  width: 299px;
  background-color: #e0ce08;
  font-size: 30px;
  font-family: yokawerad;
  padding: 7px;
  margin-bottom:62px;
  color:#861b08;
}

.close-modal-button{
  color: #e0ce08;
  font-family: tumbleweed;
  font-size: 60px;
  float: right;
  margin-right: 62px;
  position: relative;
  top: 25px;
}

.modal-vertical-line{
  height: 494px;
  position: absolute;
  width: 2px;
  background-color: #e0ce08;
  left: 568px;
}

.modal-horizontal-line{
  width: 600px;
  background-color: #e0ce08;
  height: 2px;
  position: absolute;
  top: 462px;
}

.newsletter-close-button{
  margin-top: 113px;
}
