.site-title{
  float: left;
  position: relative;
  top: -1px;
}

.site-title-style{
  font-family: Tumbleweed;
  color: #e0ce08;
  font-size: 60px;
}

.navbar-modal-site-title{
  font-family: Tumbleweed;
  color: #e0ce08;
  font-size: 100px;
  text-align:center;
}

.navbar-modal-site-title-text{
  font-family: Tumbleweed;
  color: #e0ce08;
  font-size: 100px;
}

.navbar-close-modal{
  font-family: tumbleweed;
  font-size: 60px;
  float: right;
  color: #e0ce08;
  margin-right: 30px;
  position: absolute;
  right: 0px;
}

.mobile-navbar-link-container{
  text-align:center;
}

.navbar-modal-content{
    background-color: #482004;
    margin: auto;
    /* margin-top: 120px; */
    position: relative;
    height: 100%;
}

.navbar-list-container{
  float: right;
  position: relative;
  top: 10px;
}

.navbar-list-element{
  padding-left: 20px;
}

.navbar-list-element-style{
  font-size: 30px;
  font-family: yokawerad;
  color: #e0ce08;
}

.options-menu{
    display: block;
    float: right;
    position: relative;
    top: 20px;

}

.option-bar{
  width: 22px;
  height: 2px;
  background-color: #e0ce08;
  display: block;
  margin-bottom: 5px;
}

.navbar-modal{
  display:none;
}

@media (min-width:320px){
  .navbar-list-container{
    display:none;
  }  
  .options-menu{
    display:block;
  }
  .navbar-close-modal{
    margin-right:0px;
  }
  .navbar-modal-site-title-text{
    font-size:75px;
  }
}
@media (min-width:480px){
  .navbar-close-modal{
    margin-right:30px;
  }
  .navbar-modal-site-title-text{
    font-size:100px;
  }
}
@media (min-width:768px){
  .options-menu{
    display:none;
  }
  .navbar-list-container{
    display:block;
  }
}
@media (min-width:992px){

}

